/* Fuente estilo consola */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



* {
    margin: 0;
    padding: 0;
}

/* Contenedor del pokedesk */
.cont-pokedesk {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  */
.pokedesk {
    padding: 20px;
    padding-top: 10px;
    display: flex;
    width: 55%;
    height: 500px;
    background-image: url('./Img/pokedex-fondo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Parte derecha del pokedesk */
.poke-left {
    width: 46%;
}

/* Leds de la parte superior */
.botons-sup-l {
    display: flex;
}

.led-white {
    margin-left: 10px;
    border-radius: 40px;
    width: 75px;
    height: 75px;
    background-color: white;
    position: relative;
}

.led-blue {
    top: 7px;
    left: 10px;
    position: absolute;
    border-radius: 40px;
    width: 58px;
    height: 59px;
    background-color: #0bcdff;
    box-shadow: -3px -7px 0px 7px inset #009dd4;
}

.brillo-led {
    position: absolute;
    width: 14px;
    height: 14px;
    opacity: .6;
    border-radius: 30px;
    background-color: white;
    top: 6px;
    left: 15px;
}

/* Leds pequeños */
.leds-smalls {
    display: flex;
    justify-content: space-evenly;
    margin-left: 3px;
    margin-top: 5px;
}

.leds-smalls>div {
    width: 18px;
    height: 18px;
    border-radius: 30px;
    margin-right: 10px;
    box-shadow: -1px -2px 0px 3px inset #38383878;
}

.led-red {
    background-color: #e90809;
}

.led-yellow {
    background-color: yellow;
}

/* Pantalla principal */
.poke-central {
    margin: 5%;
    margin-top: 29%;
    background-color: lightgray;
    width: 65%;
    margin-top: 10%;
    box-shadow: -5px 5px 0px #6c6c6c;
    height: 36%;
    padding: 10%;
    padding-bottom: 15%;
    border-radius: 10px;
}

/* Contenedor de la imagen */
.c-poke-img {
    height: 95%;
    display: flex;
    background-image: url('./Img/paisaje.jpg');
    background-size: cover;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: -1px 1px 0px 1px inset #858585;
}

/* Imagen  */
#img-poke {
    height: 100%;
}

/* NOmbre del pokemon */
#nombrep {
    position: absolute;
    bottom: 10px;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Press Start 2P', Arial;
    font-size: small;
}

#pokeInput {
    margin-top: 17px;
    height: 25px;
    position: relative;
    padding-left: 5px;
    left: 56px;
    border: 0;
    border-radius: 3px;
}

#pokeInput:focus-visible {
    outline: 0;
}

/* Botones inferiores de la derecha */
.botons-inf-l {
    margin: 5%;
    margin-top: 6%;
    margin-right: 9%;
    position: relative;
    display: flex;
    justify-content: end;
}

/* Boton en forma de cruz */
.cruz {
    background-color: #222222;
    height: 76px;
    position: relative;
    width: 20px;
    border-radius: 5px;
    box-shadow: -3px 3px 0px 1px black;
    margin: auto;
    margin-left: 30px;
}

.cruz::after {
    background-color: #222222;
    content: "";
    height: 20px;
    left: -28px;
    border-radius: 5px;
    position: absolute;
    top: 28px;
    box-shadow: -3px 3px 0px 1px black;
    width: 76px;
}

.sombra-cruz {
    position: absolute;
    box-shadow: none;
    left: 0px;
}

.sombra-cruz:hover {
    background-color: #353535;
}

.sombra-cruz::after {
    box-shadow: none;
    position: absolute;
}

.sombra-cruz:hover::after {
    background-color: #353535;

}

.circulo-cruz {
    position: absolute;
    border: solid black 1px;
    width: 12px;
    height: 12px;
    left: 14%;
    top: 42%;
    z-index: 2;
    border-radius: 10px;
}

/* Cuadros de colores */
.rects-inf {
    display: flex;
    margin-top: -25px;
    width: 42%;
    justify-content: space-between;
    align-items: center;
}

.rect-1 {
    display: flex;
    border: none;
    justify-content: center;
    width: 55px;
    height: 14px;
    border-radius: 22px;
    background-color: #3688f9;
    color: white;
}

.rect-2 {
    border: none;
    width: 55px;
    height: 14px;
    border-radius: 22px;
    background-color: #ff0000;
    color: white;
}

/* Boton de busqueda */
#btn-buscar {
    color: white;
    background-color: #222222;
    border: 0;
    margin-left: 15px;
    border-radius: 25px;
    padding: 18px 5px;
    height: 51px;
    width: 51px;
    box-shadow: -3px 4px 0px 4px black;
}

#btn-buscar:hover {
    background-color: #353535 !important;
}

.pantalla-verde {
    width: 105px;
    height: 42px;
    position: absolute;
    background-color: #55ab62;
    top: 50px;
    left: 111px;
    border-radius: 6px;
}


/* Parte izquierda del pokedesk */
.poke-right {
    width: 54%;
    padding-top: 20%;
}

/* CUadro de info */
.poke-info1-r {
    padding: 10px 15px;
    margin-left: 14%;
    display: flex;
    flex-direction: column;
    width: 59%;
    height: 34%;
    border-radius: 10px;
    background-color: #032d29;
    position: relative;
}

.poke-info1-r>* {
    display: flex;
}

.poke-info1-r>*>* {
    display: flex;
}

/* Encabezado de tipo */
.info1-enc {
    font-family: system-ui;
    color: rgb(255, 196, 0);
    font-weight: 500;
    align-self: end;
    margin-right: 5px;
    font-size: .7em;
}

/* Spans tipo poke */
#cont-type>span,
#cont-abilities>span {
    color: white;
    background-color: #006eff;
    border-radius: 5px;
    margin-top: 2px;
    align-items: center;
    padding: 2px 3px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: 5px;
    font-size: .5em;
    text-transform: uppercase;
    font-family: system-ui;
}

#cont-abilities {
    margin-top: 10px;
    flex-wrap: wrap;
}

#cont-abilities>span {
    background-color: #147c24;
}

/* Estadisticas */

#estadisticas {
    margin-top: 12%;
    position: absolute;
    width: 89%;
    bottom: 5px;
}

#estadisticas>* {
    width: 16.6%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Barra de estadisticas */
.barra-ests {
    width: 50%;
    height: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.enc-stat {
    font-size: x-small;
    color: #ffc107;
    font-weight: 500;
    text-align: center;
}

/* Contenedor de los movimientos */
.cont-movs {
    margin-left: 14%;
    margin-top: 8px;
    height: 25%;
    width: 66%;
}

.enc-movs {
    margin-bottom: 5px;
}

/* Textaarea de los movimientos */
#pokeMovs {
    background-color: #1860b4;
    overflow-y: scroll;
    gap: 1px;
    height: 90%;
    overflow-x: hidden;
    border-radius: 7px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

/* Scrollbar */
#pokeMovs::-webkit-scrollbar {
    width: 7px;
    background-color: #1861b400;
}

#pokeMovs::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

/* Firefox */
#pokeMovs::-moz-scrollbar {
    width: 10px;
    background-color: #1860b4;
}

#pokeMovs::-moz-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

#pokeMovs>* {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 39px;
    color: #122046;
    letter-spacing: 1px;
    font-family: system-ui, monospace;
    font-size: 0.6em;
    font-weight: 800;
    justify-self: center;
    text-transform: uppercase;
    width: 100%;
    background-color: #31a7f1;
}

