/* Fuente estilo consola */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-image: url("./Img/fondo-bosque.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: #006eff 1px solid; */
    /* box-shadow: 0px 3px 12px 2px #006eff; */
    /* background-color: #006eff3b; */
    /* backdrop-filter: blur(4px); */
}

.img-pokedex {
    margin: 0 20px;
    width: 15%;
    height: auto;
}

/* Enlace al proyecto */
.a-github {
    overflow: hidden;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 30px;
}

.github-ico:hover {
    transform: scale(1.2);
}

.github-ico {
    height: 82px;
    width: auto;
}

/* Contenedor del pokedex */
.cont-pokedex {
    margin-top: 1%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  */
.pokedex {
    display: flex;
    justify-content: center;
    width: 68%;
    position: relative;
}

.poke-left-fondo {
    width: 410px;
    height: 550px;
    background-image: url(./Img/pokedex-fondo-left.png);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: contain;

}

/* Parte derecha del pokedex */
.poke-left {
    padding: 13px 75px 13px 35px;
    height: 100%;
    position: relative;
}

/* Leds de la parte superior */
.botons-sup-l {
    display: flex;
}

.led-white {
    margin-left: 1%;
    border-radius: 40px;
    width: 75px;
    height: 75px;
    background-color: white;
    position: relative;
}

.led-blue {
    top: 7px;
    left: 10px;
    position: absolute;
    border-radius: 40px;
    width: 58px;
    height: 59px;
    background-color: #0bcdff;
    box-shadow: -3px -7px 0px 7px inset #009dd4;
}

.brillo-led {
    position: absolute;
    width: 14px;
    height: 14px;
    opacity: .6;
    border-radius: 30px;
    background-color: white;
    top: 6px;
    left: 15px;
}

/* Leds pequeños */
.leds-smalls {
    display: flex;
    justify-content: space-evenly;
    margin-left: 1%;
    margin-top: 1%;
}

.leds-smalls>div {
    width: 18px;
    height: 18px;
    border-radius: 30px;
    margin-right: 10px;
    box-shadow: -1px -2px 0px 3px inset #38383878;
}

.led-red {
    background-color: #e90809;
}

.led-yellow {
    background-color: yellow;
}

/* Pantalla principal */
.poke-central {
    background-color: lightgray;
    margin-top: 12%;
    box-shadow: -5px 5px 0px #6c6c6c;
    height: 54%;
    padding: 10%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* Contenedor de la imagen */
.c-poke-img {
    height: 100%;
    display: flex;
    background-image: url(./Img/paisaje.jpg);
    background-size: cover;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: -1px 1px 0px 1px inset #858585;
}

/* Imagen  */
#img-poke {
    height: 100%;
}

/* NOmbre del pokemon */
#nombrep {
    position: absolute;
    bottom: 10px;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Press Start 2P', Arial;
    font-size: .8em;
}

#pokeInput {
    margin-top: 17px;
    width: 75%;
    height: 25px;
    position: relative;
    padding-left: 5px;
    /* right: 1px; */
    border: 0;
    align-self: end;
    border-radius: 3px;
}

#pokeInput:focus-visible {
    outline: 0;
}

/* Botones inferiores de la derecha */
.botons-inf-l {
    /* margin: 5%; */
    margin-top: 6%;
    /* margin-right: 9%; */
    position: relative;
    display: flex;
    justify-content: end;
}

/* Boton en forma de cruz */
.cruz {
    background-color: #222222;
    height: 76px;
    position: relative;
    width: 20px;
    border-radius: 5px;
    box-shadow: -3px 3px 0px 1px black;
    margin: auto;
    margin-left: 30px;
}

.cruz::after {
    background-color: #222222;
    content: "";
    height: 20px;
    left: -28px;
    border-radius: 5px;
    position: absolute;
    top: 28px;
    box-shadow: -3px 3px 0px 1px black;
    width: 76px;
}

.sombra-cruz {
    position: absolute;
    box-shadow: none;
    left: 0px;
}

.sombra-cruz:hover {
    background-color: #353535;
}

.sombra-cruz::after {
    box-shadow: none;
    position: absolute;
}

.sombra-cruz:hover::after {
    background-color: #353535;

}

.circulo-cruz {
    position: absolute;
    border: solid black 1px;
    width: 12px;
    height: 12px;
    left: 14%;
    top: 42%;
    z-index: 2;
    border-radius: 10px;
}

/* Cuadros de colores */
.rects-inf {
    display: flex;
    margin-top: -25px;
    width: 42%;
    justify-content: space-between;
    align-items: center;
}

#rect-1 {
    display: flex;
    border: none;
    justify-content: center;
    width: 45%;
    height: 14px;
    border-radius: 22px;
    background-color: #3688f9;
    color: white;
}

#rect-2 {
    border: none;
    width: 45%;
    height: 14px;
    border-radius: 22px;
    background-color: #ff0000;
    color: white;
}

/* Boton de busqueda */
#btn-buscar {
    height: 40%;
    width: 17%;
    color: white;
    background-color: #222222;
    border: 0;
    margin-left: 15px;
    border-radius: 25px;
    padding: 18px 5px;
    box-shadow: -3px 4px 0px 4px black;
}

#btn-buscar:hover {
    background-color: #353535 !important;
}

.pantalla-verde {
    width: 35%;
    height: 55%;
    position: absolute;
    background-color: #55ab62;
    top: 50px;
    left: 111px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-ver-mas {
    visibility: hidden;
    height: 6%;
    width: 90%;
    display: flex;
    writing-mode: vertical-lr;
    transform: rotate(90deg);
    position: absolute;
    right: -39%;
    top: 47%;
    font-family: system-ui, sans-serif;
    font-size: 1em;
    border: none;
    background-color: #0047a3;
    color: white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

#btn-volver {
    visibility: hidden;
    height: 10%;
    width: 16%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    font-family: system-ui, sans-serif;
    font-size: 1em;
    border: none;
    background-color: #0047a3;
    color: white;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.img-volver {
    width: 35%;
}

.img-lupa {
    height: 60%;
    margin-left: 4%;
}

/* Fondo de la derecha */
#poke-right-fondo {
    width: 362px;
    height: auto;
    background-image: url("./Img/pokedex-fondo-right.png");
    background-position: initial;
    background-repeat: no-repeat;
    background-size: contain;

}

/* Parte izquierda del pokedex */
.poke-right {
    padding-top: 45%;
    padding-right: 8%;
    padding-bottom: 4%;
    padding-left: 7%;
    width: 94%;
    height: 99%;
}

/* CUadro de info */
.poke-info1-r {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    border-radius: 10px;
    background-color: #032d29;
    position: relative;
}

.poke-info1-r>* {
    display: flex;
}

.poke-info1-r>*>* {
    display: flex;
}

/* Encabezado de tipo */
.info1-enc {
    font-family: system-ui;
    color: rgb(255, 196, 0);
    font-weight: 500;
    align-self: end;
    margin-right: 5px;
    font-size: .7em;
}

/* Spans tipo poke */
#cont-type>span,
#cont-abilities>span {
    color: white;
    background-color: #006eff;
    border-radius: 5px;
    margin-top: 2px;
    align-items: center;
    padding: 2px 3px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: 5px;
    font-size: .5em;
    text-transform: uppercase;
    font-family: system-ui;
}

#cont-abilities {
    margin-top: 10px;
    flex-wrap: wrap;
}

#cont-abilities>span {
    background-color: #147c24;
}

/* Estadisticas */

#estadisticas {
    margin-top: 12%;
    position: absolute;
    width: 89%;
    bottom: 5px;
}

#estadisticas>* {
    width: 16.6%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Barra de estadisticas */
.barra-ests {
    width: 50%;
    height: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.enc-stat {
    font-size: x-small;
    color: #ffc107;
    font-weight: 500;
    text-align: center;
    margin-top: 2px;
}

/* Contenedor de los movimientos */
.cont-movs {
    /* margin-left: 14%; */
    margin-top: 17px;
    height: 25%;
    width: 100%;
}

.enc-movs {
    margin-bottom: 5px;
}

/* Textaarea de los movimientos */
#pokeMovs {
    background-color: #1860b4;
    overflow-y: scroll;
    gap: 1px;
    height: 80px;
    overflow-x: hidden;
    border-radius: 7px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

/* Scrollbar */
#pokeMovs::-webkit-scrollbar {
    width: 7px;
    background-color: #1861b400;
}

#pokeMovs::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
}

/* Firefox */
#pokeMovs::-moz-scrollbar {
    width: 10px;
    background-color: #1860b4;
}

#pokeMovs::-moz-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
}

#pokeMovs>* {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 39px;
    color: #122046;
    letter-spacing: 1px;
    font-family: system-ui, monospace;
    font-size: 0.6em;
    font-weight: 800;
    justify-self: center;
    text-transform: uppercase;
    width: 100%;
    background-color: #31a7f1;
    padding: 0 5px;
}

/* Botones de la parte inferior derecha */
.btns-inf-r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
}

/* ------------------ */
.larg-two {
    display: flex;
    align-self: end;
}

.larg-b {
    width: 40px;
    height: 8px;
    margin-left: 5px;
    background-color: hwb(0deg 20% 69%);
    border-radius: 4px;
}

/* ------------------- */
.sec-btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.white-two {

    margin-left: 2px;
    width: 96px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    position: relative;
    box-shadow: -2px 2px 0 2px gray;
}

.line-w {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: gray;
    left: 50%;
}

.cicle-r {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #fddd23;
    box-shadow: -2px -2px 0px 4px #8b7910 inset;
}

/* Pantallas finales altura y peso */
.lasts-p {
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
}

#altura,
#peso {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 40%;
    height: 25px;
    background-color: #032d29;
    border-radius: 5px;
}

.p-pant2 {
    align-self: center;
    margin: 0 6px 0 3px;
}

/* --------------------------------------- */
/* --------------------------------------- */
/* ---------------REPONSIVE--------------- */
/* --------------------------------------- */
/* --------------------------------------- */

@media screen and (max-width: 1160px) {
    .pokedex {
        width: 90%;
    }

    .cont-pokedex {
        margin-top: 1%;
    }

    .img-pokedex {
        width: 20%;
    }

    header {
        height: 90px;
    }

}


@media screen and (max-width: 960px) {

    .led-white {
        margin-left: 0;
        width: 65px;
        height: 65px;
    }

    .led-blue {
        top: 5px;
        left: 8px;
        width: 53px;
        height: 53px;
    }

    .poke-central {
        margin-top: 15%;
    }
}



@media screen and (max-width: 850px) {

    .poke-left {
        padding-right: 16%;
    }

    .poke-central {
        /* height: 56%; */
        margin-top: 11%;
    }

    .botons-inf-l {
        margin-top: 8%;
    }

    .cruz {
        height: 69px;
    }

    .cruz::after {
        left: -25px;
        top: 25px;
        width: 69px;
    }

    .pantalla-verde {
        top: 56%;
        left: 36%;
        width: 38%;
        height: 55%;
    }

    #poke-right-fondo {
        width: 345px;
    }
}

@media screen and (max-width: 850px) {
    #btn-buscar {
        width: 51px;
        height: 51px;
    }

    .poke-central {
        margin-top: 15%;
        height: 50%;
    }

    .poke-right {
        padding-right: 4%;
    }
}

@media screen and (max-width: 850px) and (min-width: 719px) {
    .poke-info1-r {
        height: 35%;
    }

    .cont-movs {
        margin-top: 9px;
    }

    .btns-inf-r {
        margin-top: 3%;
    }
}

@media screen and (max-width: 720px) {

    .poke-central {
        height: 54%;
    }

    .img-pokedex {
        width: 25%;
    }

    .poke-left {
        padding: 7px 66px 13px 31px;
    }

    #btn-buscar {
        width: 51px;
        height: 51px;
    }

    .poke-central {
        margin-top: 19%;
    }

    #btn-ver-mas {
        visibility: visible;
    }

    /* Derecha */

    #poke-right-fondo {
        visibility: hidden;
        position: absolute;
        width: 382px;
        top: -50px;
        z-index: 3;
    }

    .poke-right {
        width: 100%;
        height: 546px;
        padding-right: 8%;
    }

    .barra-ests {
        height: 50px;
    }

    .info1-enc {
        font-size: .8em;
    }

    #cont-type>span,
    #cont-abilities>span {
        font-size: .6em;
    }

}

@media screen and (max-width: 460px) {
    .cont-pokedex {
        margin-top: 10%;
    }

    .poke-left-fondo {
        width: 370px;
        height: 510px;
    }

    .img-pokedex {
        width: 35%;
    }

    .poke-central {
        margin-top: 13%;
    }

    .botons-inf-l {
        margin-top: 6%;
    }

    /* Derecha */
    #poke-right-fondo {
        position: absolute;
        width: 346px;
    }

    .poke-info1-r {
        height: 35%;
    }

    .cont-movs {
        margin-top: 9px;
    }

    .btns-inf-r {
        margin-top: 3%;
    }

    #btn-volver {
        top: 13%;
    }
}

@media screen and (max-width: 390px) {
    .cont-pokedex {
        margin-top: 25%;
    }

    .a-github {
        width: 40px;
        height: 40px;
    }

    .github-ico {
        height: 63px;
    }

    .img-pokedex {
        width: 42%;
    }

    .poke-left-fondo {
        width: 310px;
        height: 416px;
    }

    .poke-left {
        padding: 4px 54px 14px 27px;
    }

    .poke-central {
        margin-top: 7%;
        height: 523;
    }

    .cruz {
        height: 66px;
    }

    .cruz::after {
        left: -24px;
        top: 24px;
        width: 66px;
    }

    .rects-inf {
        width: 32%;
    }

    .pantalla-verde {
        left: 39%;
        width: 32%;
        height: 49%;
    }

    /* Derecha */
    #poke-right-fondo {
        width: 295px;
    }
    .poke-right {
        height: 467px;
    }

    .poke-info1-r {
        padding: 10px 10px;
        height: 30%;
    }

    .barra-ests {
        height: 35px;
    }

    .info1-enc {
        font-size: .7em;
    }

    #cont-type>span,
    #cont-abilities>span {
        font-size: .5em;
    }

    .btns-inf-r {
        margin-top: -12%;
    }

    .white-two {
        width: 76px;
        height: 25px;
    }

    #pokeMovs>* {
        height: 31px;
    }

    #pokeMovs {
        height: 64px;
    }

    #btn-volver {
        top: 11%;
        height: 8%;
        width: 19%;
    }

    #btn-volver>p {
        font-size: .9em;
    }
}

@media screen and (max-width: 320px) {
    .poke-left-fondo {
        width: 231px;
        height: 311px;
    }

    .poke-left {
        padding: 1px 37px 12px 20px;
    }

    .botons-sup-l {
        margin-top: 2%;
    }

    .led-white {
        width: 40px;
        height: 40px;
    }

    .led-blue {
        width: 32px;
        height: 32px;
        box-shadow: -1px -3px 0px 4px inset #009dd4;
        top: 4px;
        left: 5px;
    }

    .brillo-led {
        width: 8px;
        height: 8px;
        top: 4px;
        left: 8px;
    }

    .leds-smalls>div {
        width: 11px;
        height: 10px;
    }

    .poke-central {
        margin-top: 13%;
        padding: 5%;
    }

    #pokeInput {
        margin-top: 6px;
        font-size: .6em;
    }

    .cruz {
        height: 46px;
        margin-left: 18px;
        width: 15px;
    }

    .cruz::after {
        left: -15px;
        top: 16px;
        height: 15px;
        width: 46px;
    }

    .pantalla-verde {
        left: 33%;
        width: 28%;
        height: 43%;
    }

    #btn-buscar {
        width: 40px;
        height: 40px;
        margin-left: 11px;
        font-size: .6em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Derecha */
    #poke-right-fondo {
        width: 224px;
    }

    .poke-right {
        height: 359px;
    }

    .info1-enc {
        font-size: .6em;
    }

    #cont-type>span,
    #cont-abilities>span {
        font-size: .4em;
    }

    .enc-stat {
        font-size: .5em;
    }

    #cont-abilities {
        margin-top: 2px;
    }

    .cont-movs {
        margin-top: 4px;
    }

    .barra-ests {
        height: 30px;
    }

    .poke-info1-r {
        padding: 10px 10px;
        height: 44%;
    }

    .enc-movs {
        margin-bottom: 2px;
    }

    #pokeMovs {
        height: 48px;
        grid-template-columns: 50% 50%;

    }

    #pokeMovs>* {
        font-size: 0.5em;
    }

    #pokeMovs>* {
        height: 23px;
    }

    .btns-inf-r {
        margin-top: 2%;
    }

    .white-two {
        width: 56px;
        height: 19px;
    }

    .larg-b {
        width: 30px;
        height: 5px;
    }

    .cicle-r {
        width: 15px;
        height: 15px;
    }

    #altura,
    #peso {
        width: 48%;
        height: 20px;
    }

    #btn-volver {
        top: 16%;
        height: 8%;
        width: 19%;
        border-radius: 8px;
    }

    #btn-volver>p {
        font-size: .5em;
    }
}