.opciones {
    padding:5px;
    }
    
    .otra-opcion div {
    margin:5px5px5px26px;
    }
    
    .otra-opcion div{
        display : none;
    }
    
    .otra-opcion input:checked + label + div{
        display : block;
    }