/* Fuentes  Courgette y Rochester*/
@font-face {
    font-family: Courgette;
    src: url(./Fonts/Courgette-Regular.ttf);
}

@font-face {
    font-family: Rochester;
    src: url(./Fonts/Rochester-Regular.ttf);
}


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Stencil, Calibri, 'Trebuchet MS', sans-serif;
}

h1,
h4,
h3 {
    font-family: 'Courgette', cursive;
}

body {
    background-color: #f3edf8;
}

header {
    background-color: #a98fb9;
}


/* Logo */
.logo-link {
    padding: 10px;
    justify-self: start;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Imagen del logo */
.img-lg {
    height: 160px;
    width: 160px;
}

/* Texto logo h4 */
.text-lg>h4 {
    font-family: Vladimir Script;
    font-weight: lighter;
    font-size: 40px;
}

/* Menu de navegacion */
nav {
    background-color: aliceblue;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pestaña actual */
.actual {
    background-size: 100% 2px;
}

/* Enlaces del nav */
nav>a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: #574029;
    font-size: large;
    margin-right: 20px;
    text-decoration: none;
}

nav>a:hover,
nav>a:focus {
    background-size: 100% 2px;
}


nav>a:hover {
    font-size: larger;
    color: #b87b6d;
}

/* Boton flotante */

.btn-flotante {
    display: table;
    text-decoration: none;
    font-size: 14px;
    margin-right: 5px;
    /* Cambiar el tamaño de la tipografia */
    text-transform: uppercase;
    /* Texto en mayusculas */
    font-weight: bold;
    /* Fuente en negrita o bold */
    color: #ffffff;
    /* Color del texto */
    border-radius: 5px;
    /* Borde del boton */
    letter-spacing: 2px;
    /* Espacio entre letras */
    background-color: #4d36ab96;
    /* Color de fondo */
    padding: 18px 20px;
    /* Relleno del boton */
    float: right;
    margin-bottom: 30px;
    position: sticky;
    top: 20px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.btn-flotante:hover {
    background-color: #d171a6b7;
    /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}


/* Boton flotante 2 */
.btn-flotante2 {
    margin-right: 5px;
    text-decoration: none;
    font-size: 14px;
    /* Cambiar el tamaño de la tipografia */
    text-transform: uppercase;
    /* Texto en mayusculas */
    font-weight: bold;
    /* Fuente en negrita o bold */
    color: #ffffff;
    float: right;
    clear: right;
    /* Color del texto */
    border-radius: 5px;
    /* Borde del boton */
    letter-spacing: 2px;
    /* Espacio entre letras */
    background-color: #f79c47ad;
    /* Color de fondo */
    padding: 18px 25px;
    /* Relleno del boton */
    position: sticky;
    top: 80px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 6;
}


.btn-flotante2:hover {
    /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    background-color: rgba(241, 109, 0, 0.637);
    transform: translateY(-7px);
}


/* -----------  Quienes somos --------------*/

.imagen-qs {
    position: absolute;
    top: 290px;
    width: 100%;
    /* visibility: hidden; */
}

/* Imagen quienes somos */
.q-p-img {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    /* margin: 20px; */
}

/* Wave */
.wave {
    position: absolute;
    fill: #f3edf8;
    bottom: 0;
    width: 100%;

}

/* marco */
.marco-q-s {
    /* width: 100%; */
    position: static;
    height: 630px;
}

/* Artículo */
.quienes-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Encabezado */
.q-encabezado {
    margin: 60px 0px;
    margin-bottom: 40px;
}

/* Encabezado quienes somos */
.q-encabezado>h1 {
    /* font-family: Stencil; */
    font-size: 3em;
}

/* Imagen principal */
.imgnp {
    width: 100%;
    height: 700px;
    object-fit: cover;
    position: initial;
}

/* Parrafo */
.q-parrafo {
    display: flex;
    align-items: center;
    margin: 0px 15%;
    justify-content: space-around;
}

/* Texto Parrafo */
.q-p-text {
    width: 40%;
}


/* ------------------ Mas pedidos ------------------ */

.mas-pedidos {
    margin: 0px 60px;
    /* background-color: #dbb1d4; */
}

/* Encabezado */
.encabezado-mas-ped {
    margin: 90px 0px 20px 0px;
    padding: 20px;
    text-align: center;
}

.encabezado-mas-ped h1 {
    /* font-family: Stencil; */
    font-size: 3em;

}

/* 3 mas pedidos */
.mas-ped-3 {
    display: flex;
    justify-content: center;
}

/* Pasteles */
.pastel3 {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    box-shadow: 2px 2px 7px 2px #120f1a33;
    border-radius: 20px;
    object-fit: contain;
}

.pastel3:hover {
    box-shadow: 2px 2px 7px 2px #574685d3;
}

/* Pastel 1 */
.mas-ped1 {
    margin: 20px;
}

/* Imagen de pasteles */
.imagen-mpd>img {
    width: 100%;
    height: 242px;
    object-fit: cover;
    border-radius: 20px;
}

/* Nombre y precio */
.nombre-y-precio {
    width: 100%;
    display: flex;
    align-items: center;
    place-content: space-around space-between;
}

/* Precio */
#precio {
    margin-left: 5%;
    color: #452c4e;
}

/* Encabezado */
.nombre-y-precio>h4 {
    color: #452c4e;
    margin-bottom: 10px;

}

/* Texto */
.mas-ped-text {
    height: 100%;
    /* bottom: 0; */
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
}

/* Descripcion del producto */
.desc-prod {
    height: 100%;
}

/* Boton int */
.btn-pedir {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #faf4fd;
    --button_outline_color: #452c4e;
    align-self: center;
    justify-self: end;
    margin: 20px 0 10px 0;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    z-index: 1;
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.button_top>a {
    text-decoration: none;
    color: #452c4e;
}

.btn-pedir:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

.btn-pedir:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

/* ----------- Footer ---------------- */
footer {
    margin-top: 40px;
    padding: 30px;
    background-color: #a98fb9;
}

/* Elementos del footer */
.foot-els {
    color: #4e36ab;
    display: flex;
    justify-content: space-around;
}

/* Encabezados del footer */
#enc-foot {
    font-size: large;
    padding-bottom: 10px;
}

/* Textos del footer */
#text-footer {
    color: white;
    text-decoration: none;
}

/* Columna de direccion */
.col-direccion {
    flex-basis: 15%;
}

/* Columna redes */
.col-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logos */
.logos-redes {
    margin-top: 15px;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

/* Imgs logos */
.logos-redes>a>img {
    width: 40px;
}

/* --------------------------------------------------------- */
/*                          Pagina productos */
/* --------------------------------------------------------- */

/* Main */
.p-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Encabezado p */
.p-head-tartas {
    text-align: center;
    margin: 3% 0;
}

/* Seccion productos */
.p-tartas {
    display: flex;
    margin: 0 15%;
    justify-content: center;
    flex-wrap: wrap;
}

/* Producto 1 */
.p-prod {
    display: flex;
    align-items: flex-end;
    margin: 10px 10px;
    width: 250px;
    height: 280px;
    position: relative;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    box-shadow: 2px 2px 7px 2px #120f1a33;
}

.p-prod:hover {
    box-shadow: 2px 2px 7px 2px #57468570;
}

/* Nombre prod blur */
.p-nom-prod {
    padding: 2px 7px;
    border-radius: 10px;
    height: 25%;
    width: 100%;
    position: absolute;
    /*  position absolute para colocarlo delante de la imagen */
    backdrop-filter: blur(10px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #8471d1;
}

/* Parrafo */
.p-nom-prod>p {
    color: #120f1a;
    font-size: large;
    font-family: 'Courgette', cursive;

}

/* Producto 1 */
#p-prod-1 {
    background-image: url(../Imgs/tarta-mousse-de-chocolate-y-baileys.jpg);
}

/* Producto 2 */
#p-prod-2 {
    background-image: url(../Imgs/Torta-de-vainilla-con-fresas.jpg);
}

/* Producto 3 */
#p-prod-3 {
    background-image: url(../Imgs/Nutella-Cheesecake_2.webp);
}

/* Producto 4 */
#p-prod-4 {
    background-image: url(../Imgs/hojaldre.jpg);
    background-position: bottom;
}

/* Producto 5 */
#p-prod-5 {
    background-image: url(../Imgs/Banana-Cream-Pie-from-Scratch4a.webp);
}

/* Producto 6 */
#p-prod-6 {
    background-image: url(../Imgs/Gingerbread-Cheesecake-2.jpg);
}

/* Producto 7 */
#p-prod-7 {
    background-image: url(../Imgs/tarta-chocolates-adobe-t.avif);
}

/* Producto 8 */
#p-prod-8 {
    background-image: url(../Imgs/ganache.jpg);
}

/* Producto 9 */
#p-prod-9 {
    background-image: url(../Imgs/tarta-de-la-abuela-600x450.jpg);
}


/* Seccion final para que compre un pastel */
.p-pide {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../Imgs/baked-goods-g7df45ba07_1920.jpg);
    background-size: cover;
    color: white;
}

/* .p-pide>*{
    margin:  10px 0;
    text-align: center;
} */

.p-pide>h1 {
    font-size: 3em;
    font-weight: bold;
}

.p-pide>p {
    font-size: 30px;
}

.p-btn-elige {
    text-decoration: none;
    padding: 9px 15px;
    border: 0px;
    text-transform: uppercase;
    margin-top: 20px;
    color: white;
    font-size: medium;
    font-weight: bold;
    border-radius: 6px;
    background-color: #1e7de9;
    transition: all 300ms ease 0ms;
    letter-spacing: 2px;
}

.p-btn-elige:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

/* -------------------------------------------------------- */
/* -----------------------Formulario----------------------- */
/* -------------------------------------------------------- */

/* Main */
.ped-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Formulario */
.form-pedido {
    /* border: 8px #8471d1 dashed; */
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 60px;
    padding-bottom: 20px;
    margin-top: 30px;
    background-color: #ffffff;
    width: 50%;
    border-radius: 30px;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
}

.form-pedido>* :not(.bg-img-form) {
    z-index: 1;
}

/* Imagen de fondo */
.bg-img-form {
    position: absolute;
    object-fit: cover;
    height: 100%;
    opacity: 0.1;
    z-index: 0;
    width: 100%;
}

/* Titulo formulario */
.ped-form-title {
    margin-bottom: 30px;
    margin-top: 15px;
    text-align: center;
    color: #4e36ab;
    z-index: 1;
}

.head-datos-cliente {
    z-index: 1;
}


#nombre {
    width: 80%;
}

/* Nombre y tel */
.nom-tel {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#tel {
    width: 40%;
}

#email {
    width: 55%;
}

#email>input {
    width: 100%;
}


#desc {
    width: 80%;
    /* height: 200px; */
}

/* Input */
.inp {
    position: relative;
    border-radius: 3px;
    margin-top: 20px;
    /* overflow: hidden; */
}

.inp .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
}

.inp .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}

.inp input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    /* font-family: inherit; */
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
}

.inp textarea {
    padding: 30px 12px 0 12px;

}

.inp input:hover,
.desc:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.inp input:not,
.desc:not(:-moz-placeholder-shown)+.label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:not,
.desc:not(:-ms-input-placeholder)+.label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:not,
.desc:not(:placeholder-shown)+.label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus,
.desc:focus {
    background: rgba(93, 44, 139, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 #0077FF;
}

.inp input:focus+.label,
.desc:focus+.label {
    color: #0077FF;
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus+.label+.focus-bg,
.desc:focus+.label+.focus-bg {
    transform: scaleX(1);
    transition: all 0.1s ease;
}

/* Descripcion del producto */

.desc {
    width: 100%;
    height: 100px;
    resize: none;
}

/* Datos del pedido */
.head-datosped {
    margin: 30px 0;
    z-index: 1;
}

/* Seccion de los sabores */
.bizch-rell {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

/* Checkbox de sabores */
#chocolate:checked {
    background-color: #574029;
}


.head-sab-biz {
    margin-bottom: 10px;
}

/* Sabores del pastel */
.sabor-bizch {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    margin: 20px 0;
}

/* Sabores del relleno */
.sabor-relleno {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    margin: 20px 0;
}

/* Cubierta y decoracion */
.cub-decs {
    width: 70%;
    display: flex;
    flex-direction: column;
}

/* Libras */
#libras {
    text-align: center;
    margin-left: 3px;
    height: 30px;
    width: 60px;
}

/* input numeros */

.inp-nums {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

/* submit */
#btn-enviar {
    margin-top: 50px;
    width: 130px;
}


/* -------------------------------------  */
/* -------------------------------------  */

/* - - - A D M I N I S T R A D O R  - - -  */

/* -------------------------------------  */
/* -------------------------------------  */

.a-header {
    background-color: #946dac;
}

/* Contenedor logo y slogan */
.a-logo-link {
    /* width: 100%; */
    margin-left: 40px;
    padding: 10px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Imagen y logo */
.a-img-slogan {
    display: flex;
    align-items: center;
}

/* Imagen del logo */
.a-img-lg {
    width: 100px;
    height: 100px;
}

/* Texto logo h4 */
.a-text-lg>h4 {
    font-family: Vladimir Script;
    font-weight: lighter;
    font-size: 40px;
}

/* Menu */
.a-menu {
    justify-self: end;
    display: flex;
    margin: 30px;
}

/* elementos del menu */
.a-menu>* {
    margin: 0 15px;
    text-decoration: none;
    display: flex;
    transition: background-size .3s;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    align-items: center;
    color: white;
    font-size: large;
    font-weight: lighter;
}

.a-menu>*:hover,
.a-menu>*:focus {
    background-size: 100% 2px;
}

.a-menu>*:hover {
    color: #f7e0f5;
}

/* salir */
.a-menu :nth-child(3) {
    padding: 8px 17px;
    background-color: #424755;
    border-radius: 10px;
}

.a-menu :nth-child(3):hover {
    background-color: #525764;
}

/* main */
.a-main {
    display: flex;
    flex-direction: column;
}

/* Seccion de las tablas */
.a-tabla {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Titulo de sabores de pasteles */
.a-title-tablas {
    text-align: center;
    margin: 30px 0;
}

/* Tabla */
.tabla-sab-past {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #962e6a;
    border-bottom: 2px solid #962e6a;
}

/* Ancho de las columnas */

.t1-sabor {
    width: 40%;
    padding-left: 5px;
}

.t1-exp {
    width: 40%;
}

.t1-stock {
    width: 9%;
}

/* Encabezados de las tablas */
.tabla-adornos th,
.tabla-sab-past th {
    text-align: left;
    border-bottom: 2px solid #962e6a;
}

.tabla-adornos tr>td:first-child,
.tabla-sab-past tr>td:first-child {
    padding-left: 5px;
}

/* Fondo de la tabla */
.tabla-bg {
    background-color: #f3f3f3af;
    width: 50%;
    display: flex;
    padding: 25px;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 1px 7px 20px 0px rgb(0 0 0 / 30%);
    margin-bottom: 30px;
}

.tabla-adornos {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #962e6a;
    border-bottom: 2px solid #962e6a;
}

/* ----------- */
/* Pedidos */
/* ----------- */

/* Tamaño del fondo */
.bg-ped {
    width: 80%;
}

/* Tamaño de la tabla */
.tabla-ped td{
    padding: 3px;
    /* border-bottom: 1px solid #962e6a; */
}
/* Columnas de la tabla pedidos */
.tped-nombre{
    width: 15%;
}
.tped-em{
    width: 20%;
}
.tped-cantidad{
    width: 7%;
}
.tped-lb{
    width: 7%;
}
.tped-fecha{
    width: 10%;
}

